<div th:fragment="footer">
	<div class="bg-secondary py-4">
		<footer class="container-fluid">
			<div class="row text-light">
				<div class="col-md-6">CopyRight@2021 Puttipob Noracharoen</div>
				<div class="col-md-6 text-right">www.github.com/puttipob</div>
			</div>
		</footer>
	</div>
	<script src="/lib/jquery/jquery-3.4.0.min.js"></script>
	<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="/lib/chartjs/Chart.min.js"></script>
	<script src="/js/chartdata.js"></script>
</div>
