<div th:fragment="sidebar">
	<div class="card-header">
		<h3>Menu</h3>
	</div>
	<ul class="list-group">
		<li class="list-group-item"><a href="#"><i
				class="fas fa-chart-line"></i> Dashboard</a></li>
		<li class="list-group-item"><a href="#"><i
				class="fab fa-product-hunt"></i> Product</a></li>
		<li class="list-group-item"><a href="#"><i
				class="fas fa-cart-plus"></i> Order</a></li>
		<li class="list-group-item"><a href="#"><i
				class="fas fa-chart-pie"></i> Report</a></li>
		<li class="list-group-item"><a href="#"><i class="fas fa-cog"></i>
				Setting</a></li>
	</ul>
</div>
